/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'EuphoriaParty';
  src: url('../EuphoriaParty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ep {
  display: inline-block;
  font-family: EuphoriaParty;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.ep-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ep-2x {
  font-size: 2em;
}
.ep-3x {
  font-size: 3em;
}
.ep-4x {
  font-size: 4em;
}
.ep-5x {
  font-size: 5em;
}
.ep-fw {
  width: 1.28571429em;
  text-align: center;
}
.ep-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.ep-ul > li {
  position: relative;
}
.ep-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.ep-li.ep-lg {
  left: -1.85714286em;
}
.ep-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.ep.pull-left {
  margin-right: .3em;
}
.ep.pull-right {
  margin-left: .3em;
}
.ep-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.ep-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ep-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ep-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.ep-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.ep-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.ep-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.ep-stack-1x,
.ep-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.ep-stack-1x {
  line-height: inherit;
}
.ep-stack-2x {
  font-size: 2em;
}
.ep-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.ep-glass:before {
  content: "\f000";
}
.ep-music:before {
  content: "\f001";
}
.ep-search:before {
  content: "\f002";
}
.ep-envelope-o:before {
  content: "\f003";
}
.ep-heart:before {
  content: "\f004";
}
.ep-star:before {
  content: "\f005";
}
.ep-star-o:before {
  content: "\f006";
}
.ep-user:before {
  content: "\f007";
}
.ep-film:before {
  content: "\f008";
}
.ep-th-large:before {
  content: "\f009";
}
.ep-th:before {
  content: "\f00a";
}
.ep-th-list:before {
  content: "\f00b";
}
.ep-check:before {
  content: "\f00c";
}
.ep-times:before {
  content: "\f00d";
}
.ep-search-plus:before {
  content: "\f00e";
}
.ep-search-minus:before {
  content: "\f010";
}
.ep-power-off:before {
  content: "\f011";
}
.ep-signal:before {
  content: "\f012";
}
.ep-gear:before,
.ep-cog:before {
  content: "\f013";
}
.ep-trash-o:before {
  content: "\f014";
}
.ep-home:before {
  content: "\f015";
}
.ep-file-o:before {
  content: "\f016";
}
.ep-clock-o:before {
  content: "\f017";
}
.ep-road:before {
  content: "\f018";
}
.ep-download:before {
  content: "\f019";
}
.ep-arrow-circle-o-down:before {
  content: "\f01a";
}
.ep-arrow-circle-o-up:before {
  content: "\f01b";
}
.ep-inbox:before {
  content: "\f01c";
}
.ep-play-circle-o:before {
  content: "\f01d";
}
.ep-rotate-right:before,
.ep-repeat:before {
  content: "\f01e";
}
.ep-refresh:before {
  content: "\f021";
}
.ep-list-alt:before {
  content: "\f022";
}
.ep-lock:before {
  content: "\f023";
}
.ep-flag:before {
  content: "\f024";
}
.ep-headphones:before {
  content: "\f025";
}
.ep-volume-off:before {
  content: "\f026";
}
.ep-volume-down:before {
  content: "\f027";
}
.ep-volume-up:before {
  content: "\f028";
}
.ep-qrcode:before {
  content: "\f029";
}
.ep-barcode:before {
  content: "\f02a";
}
.ep-tag:before {
  content: "\f02b";
}
.ep-tags:before {
  content: "\f02c";
}
.ep-book:before {
  content: "\f02d";
}
.ep-bookmark:before {
  content: "\f02e";
}
.ep-print:before {
  content: "\f02f";
}
.ep-camera:before {
  content: "\f030";
}
.ep-font:before {
  content: "\f031";
}
.ep-bold:before {
  content: "\f032";
}
.ep-italic:before {
  content: "\f033";
}
.ep-text-height:before {
  content: "\f034";
}
.ep-text-width:before {
  content: "\f035";
}
.ep-align-left:before {
  content: "\f036";
}
.ep-align-center:before {
  content: "\f037";
}
.ep-align-right:before {
  content: "\f038";
}
.ep-align-justify:before {
  content: "\f039";
}
.ep-list:before {
  content: "\f03a";
}
.ep-dedent:before,
.ep-outdent:before {
  content: "\f03b";
}
.ep-indent:before {
  content: "\f03c";
}
.ep-video-camera:before {
  content: "\f03d";
}
.ep-photo:before,
.ep-image:before,
.ep-picture-o:before {
  content: "\f03e";
}
.ep-pencil:before {
  content: "\f040";
}
.ep-map-marker:before {
  content: "\f041";
}
.ep-adjust:before {
  content: "\f042";
}
.ep-tint:before {
  content: "\f043";
}
.ep-edit:before,
.ep-pencil-square-o:before {
  content: "\f044";
}
.ep-share-square-o:before {
  content: "\f045";
}
.ep-check-square-o:before {
  content: "\f046";
}
.ep-arrows:before {
  content: "\f047";
}
.ep-step-backward:before {
  content: "\f048";
}
.ep-fast-backward:before {
  content: "\f049";
}
.ep-backward:before {
  content: "\f04a";
}
.ep-play:before {
  content: "\f04b";
}
.ep-pause:before {
  content: "\f04c";
}
.ep-stop:before {
  content: "\f04d";
}
.ep-forward:before {
  content: "\f04e";
}
.ep-fast-forward:before {
  content: "\f050";
}
.ep-step-forward:before {
  content: "\f051";
}
.ep-eject:before {
  content: "\f052";
}
.ep-chevron-left:before {
  content: "\f053";
}
.ep-chevron-right:before {
  content: "\f054";
}
.ep-plus-circle:before {
  content: "\f055";
}
.ep-minus-circle:before {
  content: "\f056";
}
.ep-times-circle:before {
  content: "\f057";
}
.ep-check-circle:before {
  content: "\f058";
}
.ep-question-circle:before {
  content: "\f059";
}
.ep-info-circle:before {
  content: "\f05a";
}
.ep-crosshairs:before {
  content: "\f05b";
}
.ep-times-circle-o:before {
  content: "\f05c";
}
.ep-check-circle-o:before {
  content: "\f05d";
}
.ep-ban:before {
  content: "\f05e";
}
.ep-arrow-left:before {
  content: "\f060";
}
.ep-arrow-right:before {
  content: "\f061";
}
.ep-arrow-up:before {
  content: "\f062";
}
.ep-arrow-down:before {
  content: "\f063";
}
.ep-mail-forward:before,
.ep-share:before {
  content: "\f064";
}
.ep-expand:before {
  content: "\f065";
}
.ep-compress:before {
  content: "\f066";
}
.ep-plus:before {
  content: "\f067";
}
.ep-minus:before {
  content: "\f068";
}
.ep-asterisk:before {
  content: "\f069";
}
.ep-exclamation-circle:before {
  content: "\f06a";
}
.ep-gift:before {
  content: "\f06b";
}
.ep-leaf:before {
  content: "\f06c";
}
.ep-fire:before {
  content: "\f06d";
}
.ep-eye:before {
  content: "\f06e";
}
.ep-eye-slash:before {
  content: "\f070";
}
.ep-warning:before,
.ep-exclamation-triangle:before {
  content: "\f071";
}
.ep-plane:before {
  content: "\f072";
}
.ep-calendar:before {
  content: "\f073";
}
.ep-random:before {
  content: "\f074";
}
.ep-comment:before {
  content: "\f075";
}
.ep-magnet:before {
  content: "\f076";
}
.ep-chevron-up:before {
  content: "\f077";
}
.ep-chevron-down:before {
  content: "\f078";
}
.ep-retweet:before {
  content: "\f079";
}
.ep-shopping-cart:before {
  content: "\f07a";
}
.ep-folder:before {
  content: "\f07b";
}
.ep-folder-open:before {
  content: "\f07c";
}
.ep-arrows-v:before {
  content: "\f07d";
}
.ep-arrows-h:before {
  content: "\f07e";
}
.ep-bar-chart-o:before {
  content: "\f080";
}
.ep-twitter-square:before {
  content: "\f081";
}
.ep-facebook-square:before {
  content: "\f082";
}
.ep-camera-retro:before {
  content: "\f083";
}
.ep-key:before {
  content: "\f084";
}
.ep-gears:before,
.ep-cogs:before {
  content: "\f085";
}
.ep-comments:before {
  content: "\f086";
}
.ep-thumbs-o-up:before {
  content: "\f087";
}
.ep-thumbs-o-down:before {
  content: "\f088";
}
.ep-star-half:before {
  content: "\f089";
}
.ep-heart-o:before {
  content: "\f08a";
}
.ep-sign-out:before {
  content: "\f08b";
}
.ep-linkedin-square:before {
  content: "\f08c";
}
.ep-thumb-tack:before {
  content: "\f08d";
}
.ep-external-link:before {
  content: "\f08e";
}
.ep-sign-in:before {
  content: "\f090";
}
.ep-trophy:before {
  content: "\f091";
}
.ep-github-square:before {
  content: "\f092";
}
.ep-upload:before {
  content: "\f093";
}
.ep-lemon-o:before {
  content: "\f094";
}
.ep-phone:before {
  content: "\f095";
}
.ep-square-o:before {
  content: "\f096";
}
.ep-bookmark-o:before {
  content: "\f097";
}
.ep-phone-square:before {
  content: "\f098";
}
.ep-twitter:before {
  content: "\f099";
}
.ep-facebook:before {
  content: "\f09a";
}
.ep-github:before {
  content: "\f09b";
}
.ep-unlock:before {
  content: "\f09c";
}
.ep-credit-card:before {
  content: "\f09d";
}
.ep-rss:before {
  content: "\f09e";
}
.ep-hdd-o:before {
  content: "\f0a0";
}
.ep-bullhorn:before {
  content: "\f0a1";
}
.ep-bell:before {
  content: "\f0f3";
}
.ep-certificate:before {
  content: "\f0a3";
}
.ep-hand-o-right:before {
  content: "\f0a4";
}
.ep-hand-o-left:before {
  content: "\f0a5";
}
.ep-hand-o-up:before {
  content: "\f0a6";
}
.ep-hand-o-down:before {
  content: "\f0a7";
}
.ep-arrow-circle-left:before {
  content: "\f0a8";
}
.ep-arrow-circle-right:before {
  content: "\f0a9";
}
.ep-arrow-circle-up:before {
  content: "\f0aa";
}
.ep-arrow-circle-down:before {
  content: "\f0ab";
}
.ep-globe:before {
  content: "\f0ac";
}
.ep-wrench:before {
  content: "\f0ad";
}
.ep-tasks:before {
  content: "\f0ae";
}
.ep-filter:before {
  content: "\f0b0";
}
.ep-briefcase:before {
  content: "\f0b1";
}
.ep-arrows-alt:before {
  content: "\f0b2";
}
.ep-group:before,
.ep-users:before {
  content: "\f0c0";
}
.ep-chain:before,
.ep-link:before {
  content: "\f0c1";
}
.ep-cloud:before {
  content: "\f0c2";
}
.ep-flask:before {
  content: "\f0c3";
}
.ep-cut:before,
.ep-scissors:before {
  content: "\f0c4";
}
.ep-copy:before,
.ep-files-o:before {
  content: "\f0c5";
}
.ep-paperclip:before {
  content: "\f0c6";
}
.ep-save:before,
.ep-floppy-o:before {
  content: "\f0c7";
}
.ep-square:before {
  content: "\f0c8";
}
.ep-navicon:before,
.ep-reorder:before,
.ep-bars:before {
  content: "\f0c9";
}
.ep-list-ul:before {
  content: "\f0ca";
}
.ep-list-ol:before {
  content: "\f0cb";
}
.ep-strikethrough:before {
  content: "\f0cc";
}
.ep-underline:before {
  content: "\f0cd";
}
.ep-table:before {
  content: "\f0ce";
}
.ep-magic:before {
  content: "\f0d0";
}
.ep-truck:before {
  content: "\f0d1";
}
.ep-pinterest:before {
  content: "\f0d2";
}
.ep-pinterest-square:before {
  content: "\f0d3";
}
.ep-google-plus-square:before {
  content: "\f0d4";
}
.ep-google-plus:before {
  content: "\f0d5";
}
.ep-money:before {
  content: "\f0d6";
}
.ep-caret-down:before {
  content: "\f0d7";
}
.ep-caret-up:before {
  content: "\f0d8";
}
.ep-caret-left:before {
  content: "\f0d9";
}
.ep-caret-right:before {
  content: "\f0da";
}
.ep-columns:before {
  content: "\f0db";
}
.ep-unsorted:before,
.ep-sort:before {
  content: "\f0dc";
}
.ep-sort-down:before,
.ep-sort-desc:before {
  content: "\f0dd";
}
.ep-sort-up:before,
.ep-sort-asc:before {
  content: "\f0de";
}
.ep-envelope:before {
  content: "\f0e0";
}
.ep-linkedin:before {
  content: "\f0e1";
}
.ep-rotate-left:before,
.ep-undo:before {
  content: "\f0e2";
}
.ep-legal:before,
.ep-gavel:before {
  content: "\f0e3";
}
.ep-dashboard:before,
.ep-tachometer:before {
  content: "\f0e4";
}
.ep-comment-o:before {
  content: "\f0e5";
}
.ep-comments-o:before {
  content: "\f0e6";
}
.ep-flash:before,
.ep-bolt:before {
  content: "\f0e7";
}
.ep-sitemap:before {
  content: "\f0e8";
}
.ep-umbrella:before {
  content: "\f0e9";
}
.ep-paste:before,
.ep-clipboard:before {
  content: "\f0ea";
}
.ep-lightbulb-o:before {
  content: "\f0eb";
}
.ep-exchange:before {
  content: "\f0ec";
}
.ep-cloud-download:before {
  content: "\f0ed";
}
.ep-cloud-upload:before {
  content: "\f0ee";
}
.ep-user-md:before {
  content: "\f0f0";
}
.ep-stethoscope:before {
  content: "\f0f1";
}
.ep-suitcase:before {
  content: "\f0f2";
}
.ep-bell-o:before {
  content: "\f0a2";
}
.ep-coffee:before {
  content: "\f0f4";
}
.ep-cutlery:before {
  content: "\f0f5";
}
.ep-file-text-o:before {
  content: "\f0f6";
}
.ep-building-o:before {
  content: "\f0f7";
}
.ep-hospital-o:before {
  content: "\f0f8";
}
.ep-ambulance:before {
  content: "\f0f9";
}
.ep-medkit:before {
  content: "\f0fa";
}
.ep-fighter-jet:before {
  content: "\f0fb";
}
.ep-beer:before {
  content: "\f0fc";
}
.ep-h-square:before {
  content: "\f0fd";
}
.ep-plus-square:before {
  content: "\f0fe";
}
.ep-angle-double-left:before {
  content: "\f100";
}
.ep-angle-double-right:before {
  content: "\f101";
}
.ep-angle-double-up:before {
  content: "\f102";
}
.ep-angle-double-down:before {
  content: "\f103";
}
.ep-angle-left:before {
  content: "\f104";
}
.ep-angle-right:before {
  content: "\f105";
}
.ep-angle-up:before {
  content: "\f106";
}
.ep-angle-down:before {
  content: "\f107";
}
.ep-desktop:before {
  content: "\f108";
}
.ep-laptop:before {
  content: "\f109";
}
.ep-tablet:before {
  content: "\f10a";
}
.ep-mobile-phone:before,
.ep-mobile:before {
  content: "\f10b";
}
.ep-circle-o:before {
  content: "\f10c";
}
.ep-quote-left:before {
  content: "\f10d";
}
.ep-quote-right:before {
  content: "\f10e";
}
.ep-spinner:before {
  content: "\f110";
}
.ep-circle:before {
  content: "\f111";
}
.ep-mail-reply:before,
.ep-reply:before {
  content: "\f112";
}
.ep-github-alt:before {
  content: "\f113";
}
.ep-folder-o:before {
  content: "\f114";
}
.ep-folder-open-o:before {
  content: "\f115";
}
.ep-smile-o:before {
  content: "\f118";
}
.ep-frown-o:before {
  content: "\f119";
}
.ep-meh-o:before {
  content: "\f11a";
}
.ep-gamepad:before {
  content: "\f11b";
}
.ep-keyboard-o:before {
  content: "\f11c";
}
.ep-flag-o:before {
  content: "\f11d";
}
.ep-flag-checkered:before {
  content: "\f11e";
}
.ep-terminal:before {
  content: "\f120";
}
.ep-code:before {
  content: "\f121";
}
.ep-mail-reply-all:before,
.ep-reply-all:before {
  content: "\f122";
}
.ep-star-half-empty:before,
.ep-star-half-full:before,
.ep-star-half-o:before {
  content: "\f123";
}
.ep-location-arrow:before {
  content: "\f124";
}
.ep-crop:before {
  content: "\f125";
}
.ep-code-fork:before {
  content: "\f126";
}
.ep-unlink:before,
.ep-chain-broken:before {
  content: "\f127";
}
.ep-question:before {
  content: "\f128";
}
.ep-info:before {
  content: "\f129";
}
.ep-exclamation:before {
  content: "\f12a";
}
.ep-superscript:before {
  content: "\f12b";
}
.ep-subscript:before {
  content: "\f12c";
}
.ep-eraser:before {
  content: "\f12d";
}
.ep-puzzle-piece:before {
  content: "\f12e";
}
.ep-microphone:before {
  content: "\f130";
}
.ep-microphone-slash:before {
  content: "\f131";
}
.ep-shield:before {
  content: "\f132";
}
.ep-calendar-o:before {
  content: "\f133";
}
.ep-fire-extinguisher:before {
  content: "\f134";
}
.ep-rocket:before {
  content: "\f135";
}
.ep-maxcdn:before {
  content: "\f136";
}
.ep-chevron-circle-left:before {
  content: "\f137";
}
.ep-chevron-circle-right:before {
  content: "\f138";
}
.ep-chevron-circle-up:before {
  content: "\f139";
}
.ep-chevron-circle-down:before {
  content: "\f13a";
}
.ep-html5:before {
  content: "\f13b";
}
.ep-css3:before {
  content: "\f13c";
}
.ep-anchor:before {
  content: "\f13d";
}
.ep-unlock-alt:before {
  content: "\f13e";
}
.ep-bullseye:before {
  content: "\f140";
}
.ep-ellipsis-h:before {
  content: "\f141";
}
.ep-ellipsis-v:before {
  content: "\f142";
}
.ep-rss-square:before {
  content: "\f143";
}
.ep-play-circle:before {
  content: "\f144";
}
.ep-ticket:before {
  content: "\f145";
}
.ep-minus-square:before {
  content: "\f146";
}
.ep-minus-square-o:before {
  content: "\f147";
}
.ep-level-up:before {
  content: "\f148";
}
.ep-level-down:before {
  content: "\f149";
}
.ep-check-square:before {
  content: "\f14a";
}
.ep-pencil-square:before {
  content: "\f14b";
}
.ep-external-link-square:before {
  content: "\f14c";
}
.ep-share-square:before {
  content: "\f14d";
}
.ep-compass:before {
  content: "\f14e";
}
.ep-toggle-down:before,
.ep-caret-square-o-down:before {
  content: "\f150";
}
.ep-toggle-up:before,
.ep-caret-square-o-up:before {
  content: "\f151";
}
.ep-toggle-right:before,
.ep-caret-square-o-right:before {
  content: "\f152";
}
.ep-euro:before,
.ep-eur:before {
  content: "\f153";
}
.ep-gbp:before {
  content: "\f154";
}
.ep-dollar:before,
.ep-usd:before {
  content: "\f155";
}
.ep-rupee:before,
.ep-inr:before {
  content: "\f156";
}
.ep-cny:before,
.ep-rmb:before,
.ep-yen:before,
.ep-jpy:before {
  content: "\f157";
}
.ep-ruble:before,
.ep-rouble:before,
.ep-rub:before {
  content: "\f158";
}
.ep-won:before,
.ep-krw:before {
  content: "\f159";
}
.ep-bitcoin:before,
.ep-btc:before {
  content: "\f15a";
}
.ep-file:before {
  content: "\f15b";
}
.ep-file-text:before {
  content: "\f15c";
}
.ep-sort-alpha-asc:before {
  content: "\f15d";
}
.ep-sort-alpha-desc:before {
  content: "\f15e";
}
.ep-sort-amount-asc:before {
  content: "\f160";
}
.ep-sort-amount-desc:before {
  content: "\f161";
}
.ep-sort-numeric-asc:before {
  content: "\f162";
}
.ep-sort-numeric-desc:before {
  content: "\f163";
}
.ep-thumbs-up:before {
  content: "\f164";
}
.ep-thumbs-down:before {
  content: "\f165";
}
.ep-youtube-square:before {
  content: "\f166";
}
.ep-youtube:before {
  content: "\f167";
}
.ep-xing:before {
  content: "\f168";
}
.ep-xing-square:before {
  content: "\f169";
}
.ep-youtube-play:before {
  content: "\f16a";
}
.ep-dropbox:before {
  content: "\f16b";
}
.ep-stack-overflow:before {
  content: "\f16c";
}
.ep-instagram:before {
  content: "\f16d";
}
.ep-flickr:before {
  content: "\f16e";
}
.ep-adn:before {
  content: "\f170";
}
.ep-bitbucket:before {
  content: "\f171";
}
.ep-bitbucket-square:before {
  content: "\f172";
}
.ep-tumblr:before {
  content: "\f173";
}
.ep-tumblr-square:before {
  content: "\f174";
}
.ep-long-arrow-down:before {
  content: "\f175";
}
.ep-long-arrow-up:before {
  content: "\f176";
}
.ep-long-arrow-left:before {
  content: "\f177";
}
.ep-long-arrow-right:before {
  content: "\f178";
}
.ep-apple:before {
  content: "\f179";
}
.ep-windows:before {
  content: "\f17a";
}
.ep-android:before {
  content: "\f17b";
}
.ep-linux:before {
  content: "\f17c";
}
.ep-dribbble:before {
  content: "\f17d";
}
.ep-skype:before {
  content: "\f17e";
}
.ep-foursquare:before {
  content: "\f180";
}
.ep-trello:before {
  content: "\f181";
}
.ep-female:before {
  content: "\f182";
}
.ep-male:before {
  content: "\f183";
}
.ep-gittip:before {
  content: "\f184";
}
.ep-sun-o:before {
  content: "\f185";
}
.ep-moon-o:before {
  content: "\f186";
}
.ep-archive:before {
  content: "\f187";
}
.ep-bug:before {
  content: "\f188";
}
.ep-vk:before {
  content: "\f189";
}
.ep-weibo:before {
  content: "\f18a";
}
.ep-renren:before {
  content: "\f18b";
}
.ep-pagelines:before {
  content: "\f18c";
}
.ep-stack-exchange:before {
  content: "\f18d";
}
.ep-arrow-circle-o-right:before {
  content: "\f18e";
}
.ep-arrow-circle-o-left:before {
  content: "\f190";
}
.ep-toggle-left:before,
.ep-caret-square-o-left:before {
  content: "\f191";
}
.ep-dot-circle-o:before {
  content: "\f192";
}
.ep-wheelchair:before {
  content: "\f193";
}
.ep-vimeo-square:before {
  content: "\f194";
}
.ep-turkish-lira:before,
.ep-try:before {
  content: "\f195";
}
.ep-plus-square-o:before {
  content: "\f196";
}
.ep-space-shuttle:before {
  content: "\f197";
}
.ep-slack:before {
  content: "\f198";
}
.ep-envelope-square:before {
  content: "\f199";
}
.ep-wordpress:before {
  content: "\f19a";
}
.ep-openid:before {
  content: "\f19b";
}
.ep-institution:before,
.ep-bank:before,
.ep-university:before {
  content: "\f19c";
}
.ep-mortar-board:before,
.ep-graduation-cap:before {
  content: "\f19d";
}
.ep-yahoo:before {
  content: "\f19e";
}
.ep-google:before {
  content: "\f1a0";
}
.ep-reddit:before {
  content: "\f1a1";
}
.ep-reddit-square:before {
  content: "\f1a2";
}
.ep-stumbleupon-circle:before {
  content: "\f1a3";
}
.ep-stumbleupon:before {
  content: "\f1a4";
}
.ep-delicious:before {
  content: "\f1a5";
}
.ep-digg:before {
  content: "\f1a6";
}
.ep-pied-piper-square:before,
.ep-pied-piper:before {
  content: "\f1a7";
}
.ep-pied-piper-alt:before {
  content: "\f1a8";
}
.ep-drupal:before {
  content: "\f1a9";
}
.ep-joomla:before {
  content: "\f1aa";
}
.ep-language:before {
  content: "\f1ab";
}
.ep-fax:before {
  content: "\f1ac";
}
.ep-building:before {
  content: "\f1ad";
}
.ep-child:before {
  content: "\f1ae";
}
.ep-paw:before {
  content: "\f1b0";
}
.ep-spoon:before {
  content: "\f1b1";
}
.ep-cube:before {
  content: "\f1b2";
}
.ep-cubes:before {
  content: "\f1b3";
}
.ep-behance:before {
  content: "\f1b4";
}
.ep-behance-square:before {
  content: "\f1b5";
}
.ep-steam:before {
  content: "\f1b6";
}
.ep-steam-square:before {
  content: "\f1b7";
}
.ep-recycle:before {
  content: "\f1b8";
}
.ep-automobile:before,
.ep-car:before {
  content: "\f1b9";
}
.ep-cab:before,
.ep-taxi:before {
  content: "\f1ba";
}
.ep-tree:before {
  content: "\f1bb";
}
.ep-spotify:before {
  content: "\f1bc";
}
.ep-deviantart:before {
  content: "\f1bd";
}
.ep-soundcloud:before {
  content: "\f1be";
}
.ep-database:before {
  content: "\f1c0";
}
.ep-file-pdf-o:before {
  content: "\f1c1";
}
.ep-file-word-o:before {
  content: "\f1c2";
}
.ep-file-excel-o:before {
  content: "\f1c3";
}
.ep-file-powerpoint-o:before {
  content: "\f1c4";
}
.ep-file-photo-o:before,
.ep-file-picture-o:before,
.ep-file-image-o:before {
  content: "\f1c5";
}
.ep-file-zip-o:before,
.ep-file-archive-o:before {
  content: "\f1c6";
}
.ep-file-sound-o:before,
.ep-file-audio-o:before {
  content: "\f1c7";
}
.ep-file-movie-o:before,
.ep-file-video-o:before {
  content: "\f1c8";
}
.ep-file-code-o:before {
  content: "\f1c9";
}
.ep-vine:before {
  content: "\f1ca";
}
.ep-codepen:before {
  content: "\f1cb";
}
.ep-jsfiddle:before {
  content: "\f1cc";
}
.ep-life-bouy:before,
.ep-life-saver:before,
.ep-support:before,
.ep-life-ring:before {
  content: "\f1cd";
}
.ep-circle-o-notch:before {
  content: "\f1ce";
}
.ep-ra:before,
.ep-rebel:before {
  content: "\f1d0";
}
.ep-ge:before,
.ep-empire:before {
  content: "\f1d1";
}
.ep-git-square:before {
  content: "\f1d2";
}
.ep-git:before {
  content: "\f1d3";
}
.ep-hacker-news:before {
  content: "\f1d4";
}
.ep-tencent-weibo:before {
  content: "\f1d5";
}
.ep-qq:before {
  content: "\f1d6";
}
.ep-wechat:before,
.ep-weixin:before {
  content: "\f1d7";
}
.ep-send:before,
.ep-paper-plane:before {
  content: "\f1d8";
}
.ep-send-o:before,
.ep-paper-plane-o:before {
  content: "\f1d9";
}
.ep-history:before {
  content: "\f1da";
}
.ep-circle-thin:before {
  content: "\f1db";
}
.ep-header:before {
  content: "\f1dc";
}
.ep-paragraph:before {
  content: "\f1dd";
}
.ep-sliders:before {
  content: "\f1de";
}
.ep-share-alt:before {
  content: "\f1e0";
}
.ep-share-alt-square:before {
  content: "\f1e1";
}
.ep-bomb:before {
  content: "\f1e2";
}
